:root{
  --SoftCyan: hsl(174, 77%, 80%);
  --StrongCyan: hsl(174, 86%, 45%);
  --LightGrayishRed: hsl(14, 92%, 95%);
  --LightRed: hsl(15, 100%, 70%);
  --PaleBlue: hsl(226, 100%, 87%);
  --White: hsl(0, 0%, 100%);
  --VeryPaleBlue: hsl(230, 100%, 99%);
  --LightGrayishBlue: hsl(224, 65%, 95%);
  --LightBlue: hsl(223, 50%, 87%);
  --GrayishBlue: hsl(225, 20%, 60%);
  --DarkDesaturatedBlue: hsl(227, 35%, 25%);
}

body{
  font-family: 'Manrope', sans-serif;
}

.main {
  background: url(./images/bg-pattern.svg) no-repeat;
  display: grid;
  height: 100vh;
  justify-items: center;
  width: 100%;
}

.wrapper{
  width: 90%;
}

.header{
  background: url(./images/pattern-circles.svg) no-repeat center;
  height: 150px;
  margin: 50px 0px ;
  text-align: center;
}

h2{
  color: var(--DarkDesaturatedBlue);
  font-size: 19px;
  font-weight: 800;
  margin-bottom: 0px;
  padding-top: 20px;
}

.header p {
  color: var(--GrayishBlue);
  font-size: 15px;
  font-weight: 600;
  line-height: 2;
  width: 200px;
  margin: 10px auto;
}

.container{
  background: white;
  box-shadow: 3px 1px 10px 1px rgb(0 0 0 / 20%);
  display: grid;
  justify-items: center;
  padding: 20px;
}

.priceContainer{
  width: 100%;
  display: grid;
  justify-items: center;
}

h3{
  align-self: center;
  color: var(--GrayishBlue);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 30px;
}

.price{
  color: var(--DarkDesaturatedBlue) ;
  font-size: 30px;
  font-weight: 800;
}

/* SliderRange styles https://www.youtube.com/watch?v=0oePYYXBmm0 */
.rangeSliderWrapper{
  height: 50px;
  margin: 10px 0px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sliderRange {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(90deg, var(--StrongCyan) 50%, var(--LightGrayishBlue) 50%);
  background: linear-gradient(90deg, var(--StrongCyan) 80%, 90deg,var(--LightGrayishBlue) 50%) ;
  margin:0;
  top: 50%;
  display: flex;
  align-items: center;
}

.sliderRange::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 3em;
  height: 3em;
  cursor: pointer;
  background: url(./images/icon-slider.svg) no-repeat center;
  background-color: var(--SoftCyan);
  border-radius: 50%;
  position:relative;
  bottom: 50%;
}
::selection{
  background-color: var(--StrongCyan);
}


/* Toggle styles */
.toggleContainer{
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  justify-items: center;
  margin-bottom: 30px;
}

.toggleContainer p{
  color: var(--GrayishBlue);
  font-size: 10px;
  margin: 5px;
}

.discount{
  background-color: var(--LightGrayishRed);
  border-radius: 15px;
  color: var(--LightRed);
  font-weight: 600;
  padding: 0px 10px ;
  width: 100px;
}

.discountText{
  display: none;
}

.switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 40px;
  }
  
  .slider {
    -webkit-transition: .4s;
    background-color:var(--LightGrayishBlue);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    -webkit-transition: 0.4s;
    background-color: white;
    bottom: 4px;
    content: "";
    height: 13px;
    left: 4px;
    position: absolute;
    transition: 0.8s cubic-bezier(0.28, 0.90, 0.32, 1.40);
    width: 13px;
  }
  
  input:checked + .slider {
    background-color: var(--SoftCyan);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--SoftCyan);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* list and button styles */

  .footer{
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--LightGrayishBlue);
  }
  ul{
    list-style: none;
    padding: 0;
    text-align: center; 
    color: var(--GrayishBlue);   
  }
  
  li{
    font-size: 12px;
    margin: 8px;
  }

  li img{
    margin-right: 8px;
  }

  .button{
    background-color: var(--DarkDesaturatedBlue);
    border-radius: 20px;
    border: none;
    color: white;
    font-family:'Manrope', sans-serif; ;
    font-size: 12px;
    font-weight: 600;
    height: 40px;
    letter-spacing: 0.06em;
    width: 200px;
    cursor: pointer;
  }

  @media(min-width:1200px){
    
    .wrapper{
      width: 40%;
    }

    h2{
      padding-top: 40px;
    }

    .header p{
      width: 100%;
    }

    .container{
      padding: 40px;
    }

    .priceContainer{
      grid-template: repeat(2,1fr) / repeat(2,1fr);
    }

    .pagePrice{
      grid-area: 1/2/2/3;
    }

    .rangeSliderWrapper{
      grid-area: 2/1/3/3;
    }

    .footer{
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }

    ul{
      width: 200px;
      text-align: left;
    }

    .discountText{
      display: inline;
    }
  
  }